.FileComponent {
  margin: 30px;
  background: #ffffff;
  border-radius: 30px;
  padding-bottom: 30px;
  height: max(500px, calc(100% - 120px));

  .folder {
    padding: 20px 10px 20px 30px;
  }

  .file {
    display: flex;
    align-items: center;
    padding: 20px;
    cursor: pointer;

    &:hover {
      background: #efefef;
    }

    .image {
      width: 25px;
      height: 25px;
      padding: 5px;
      margin: 0 5px;

      img {
        max-width: 100%;
      }
    }
  }

  .noData {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
  }
}