{
  "env": {
    "test": {
      "plugins": ["@babel/plugin-transform-modules-commonjs"]
    }
  },
  "plugins": [
    ["@babel/transform-runtime"]
  ],
  "presets": [
    ["@babel/preset-react"],
    [
      "@babel/preset-env",
      {
        "modules": false
      }
    ]
  ]
}
