@import 'reset.css';
@import 'https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700;800&display=swap';

$colorInfo: #358edc;
$colorDanger: #dc3545;

body {
  font-family: 'Open Sans', sans-serif;
  min-width: 300px;
  min-height: 100vh;
  background: #eaeaea;
}

#folders {
  width: 100%;
  height: 100vh;
}

