.container {
  height: 100vh;
  display: flex;

  .btn {
    float: right;
    border: 1px solid #868686;
    color: #868686;
    border-radius: 10px;
    background: transparent;
    margin: 10px;
    padding: 8px 10px;
    font-size: 12px;
    text-transform: uppercase;
    transition: all .5s ease;

    &:hover {
      border-color: #35dc8e;
      color: #35dc8e;
    }

    &.active {
      border-color: #35dc8e;
      background: #35dc8e;
      color: #fff;
    }
  }

  .left, .right {
    display: flex;
    text-align: center;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
  .left {
    flex: 65%;
    border-right: 1px solid #d2d0d0;

    > div {
      text-align: left;
    }
  }
  .right {
    flex: 35%;
  }
}