@import 'reset.css';
@import 'https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700;800&display=swap';

$colorInfo: #358edc;
$colorDanger: #dc3545;

body {
  font-family: 'Open Sans', sans-serif;
  min-width: 300px;
  min-height: 100vh;
  background: #eaeaea;
}
.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;

  #shop {
    padding: 20px;
  }
}

table {
  border-collapse: collapse;
  width: 100%;

  th {
    font-weight: normal;
    color: #383838;
    padding: 10px 15px;
    font-size: 12px;
  }
  td {
    color: #669;
    padding: 10px 15px;
  }

}

button[disabled=disabled], button:disabled {
  cursor: not-allowed;
}