.MainComponent {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .window {
    box-shadow: 0 0 50px rgba(0,0,0,0.15);
    padding: 40px;
    border-radius: 20px;
    min-width: 800px;

    h3 {
      font-size: 18px;
      text-align: center;
      margin-bottom: 20px;
    }

  }
}

.row {
  display: flex;
  margin: 0 -15px;

  .col-4 {
    flex: 33.3%;
    padding: 15px;
  }
}

.form-control {
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;

  input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 14px;

    &:focus {
      outline: 0;
      border-color: #777777;
    }
  }

  &.success input {
    border-color: #2ecc71;
  }
  &.error {
    input {
      border-color: #e74c3c;
    }

    small {
      visibility: visible;
    }
  }

  small {
    color: #e74c3c;
    position: absolute;
    bottom: -2px;
    left: 0;
    visibility: hidden;
    font-size: 11px;
  }

  button {
    cursor: pointer;
    border: 2px solid #3498db;
    border-radius: 4px;
    color: #3498db;
    display: block;
    font-size: 16px;
    padding: 8px 10px;
    width: 100%;
    opacity: 0.5;
    transition: all .3s ease;

    &:hover {
      transform: translateY(-3px);
      opacity: 1;
      transition: all .3s ease;
    }
  }
}
